<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">D&Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/users/register"> Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/login"> Log In <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <div class="dropdown show">
          <a class="nav-link dropdown-toggle" role="button" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dice Roller <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/dice_roller">Open Here</a>
            <a class="dropdown-item" target="popup" href="/dice_roller" onclick="window.open('/dice_roller','Dice Roller','width=900,height=500')">Open in another window</a>
          </div>
          </div>
      </li>
    </ul>
  </div>
</nav>