<!DOCTYPE html>
<html>
  <head>
    <title>D&Dashboard</title>
    <%= render :partial => "dashboard/include" %>
  </head>

  <body class="bg-secondary">
    <%= render :partial => "dashboard/nav" %>

    <table class="table table-dark bg-dark text-white">
    </table>
  </body>
</html>

