<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <%= render :partial => "dashboard/include" %>
  </head>

  <body class='bg-dark'>
    <%= render :partial => "dashboard/nav" %>
      <div class='container text-white'>
            <h1>Login</h1>
            <%= form_for(:user, url: {:controller => 'users', :action => 'createLogin'}) do |f| %>
              <div class="form-group">
                <label for="user_email">Email</label>
                <input class="form-control" type="email" name="user[email]" id="user_email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="user_password">Password</label>
                <input type="password" class="form-control" name="user[password]" id="user_password" placeholder="Password">
              </div>
              <input class="btn btn-primary" type="submit" name="commit" value="Login" data-disable-with="Login">
              <%= flash[:danger] %>
            <% end %>
        </div>
  </body>
</html