<!DOCTYPE html>
<html>
  <head>
    <title>Level Calculator</title>
    <%= render :partial => "dashboard/include" %>
  </head>

  <body class="bg-dark">
    <%= render :partial => "dashboard/nav" %>
      <div class='container text-white'>
              <div class="form-group">
                <div class="form-row">
                  <h1>Level/EXP Calculator</h1>
                </div>
                <label>Get EXP for Level: </label>
                <div class="form-row input-group">
                  <input class="form-control col-md-6" type="text" id="level"  placeholder="Enter level">
                  <input class="form-control col-md-6" type="text" id="exp4level"  readonly>
                  <input type="button" class="btn btn-primary" value="Get EXP" onclick="getLvl()">
                </div>
                <label>Get Level for EXP: </label>
                <div class="form-row input-group">
                  <input type="text" class="form-control col-md-6"  id="exp" placeholder="Enter EXP">
                  <input class="form-control col-md-6" type="text" id="level4exp"  readonly>
                  <input type="button" class="btn btn-primary" value="Get Level" onclick="getEXP()">
                </div>
                <div class="">
                <br />
                <label>Tabletop Edition:</label>
                  <select id='edition'>
                    <option value="5">D&D 5th Edition </option>
                    <option value="3.5"> D&D 3.5 Edition </option>
                  </select>
                </div>
              </div>
        </div>
  </body>
</html>

<script>

  levelMap = {};
  levelMap['5'] = [0,0,300,900,2700,6500,14000,23000,43000,48000,64000,85000,100000,120000,140000,165000,195000,225000,265000,305000,355000];

  function getLvl(){
    lvl = Number($("#level").val());
    expNeeded = 0;
    switch($("#edition").val()){
      case "3.5":
        for(i = 1; i < (lvl+1); i++){
          expNeeded += (i-1)*1000;
        }
        break;
      case "5":
        expNeeded = levelMap[$("#edition").val()][lvl];
        break;
    }
    
    $("#exp4level").val(expNeeded);
  }

  function getEXP(){
    exp = Number($("#exp").val());
      switch($("#edition").val()){
        case "3.5":
          expNeeded = 0;
          for(lvl = 1; true; lvl++){
            expNeeded += (lvl-1)*1000;
            if(expNeeded > exp){
              $("#level4exp").val(lvl-1);
              break;
            }else if(expNeeded == exp){
              $("#level4exp").val(lvl);
              break;
            }
          }
          break;
        case "5":
          for(lvl = 1; lvl <= 20; lvl++){
            if(levelMap[$("#edition").val()][lvl] > exp){
              $("#level4exp").val(lvl-1);
              break;
            }else if(levelMap[$("#edition").val()][lvl] == exp){
              $("#level4exp").val(lvl);
              break;
            }
          }
          break;
    }   

  }
</script>
