<!DOCTYPE html>
<html>
  <head>
    <title>Bag of Holding</title>
    <%= render :partial => "dashboard/include" %>
  </head>

  <body class="bg-secondary">
    <%= render :partial => "dashboard/nav" %>
        
  </body>
</html>

