<!DOCTYPE html>
<html>
  <head>
    <title>Bag of Holding</title>
    <%= render :partial => "dashboard/include" %>
  </head>

  <body class="bg-dark">
    <%= render :partial => "dashboard/nav" %>
    <div class='container text-white'>
        <h1> Create a Bag of Holding </h1>
    <%= form_for(:bag_of_holding, url: {:controller => 'inventory', :action => 'createBOH'}) do |f| %>
        <div class="form-group">
          <label for="name">Bag of Holding Name</label>
          <input class="form-control" type="text" name="bag_of_holding[name]" id="name" placeholder="Enter name">
        </div>
        <input class="btn btn-primary" type="submit" name="commit" value="Create" data-disable-with="Create">
    <% end %>
    <% if @boh.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @boh.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
  </body>
</html>

